body {
    padding:50px;
}

h1 {
    text-align: center;
}
#wrapper {
    margin:50px 50px 0 0;
    overflow-y: scroll;
    height:600px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
