body {
    padding:50px;
}

h1 {
    text-align: center;
}
#wrapper {
    margin:50px 50px 0 0;
    overflow-y: scroll;
    height:90%;
    text-align:center;
}

#start-tests {
    background: green;
    color:white;
    font-size:30px;
}
#menu {
    margin-top: 40px;
    margin-bottom:40px;
}

#test-results {
    overflow: scroll;
    margin:40px auto;
    height: 70%;
    width: 90%;
}
#menu button {
    margin-bottom: 10px;
    width: 300px;
}

.failed {
    color: red;
    font-weight:bold;
}

.passed {
    color: green;
    font-weight:bold;
}
@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
